<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="<%=config.CONTEXT_PATH%>/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="<%=config.CONTEXT_PATH%>/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="<%=config.CONTEXT_PATH%>/css/admin.css">
</head>
<body>
<%=templates.header%>
    <!-- Main Page -->
    <div class="container fnMainContainer opacityHide">
        <div class="fnDefaultContent" style="display: none;">
            <div class="sectionTitle"><%=labels.admin_group_intro_section_title%></div>
            <div><%=labels.admin_group_intro_section_description%></div>
            <fb:login-button size="large" scope="public_profile,user_friends" onlogin="fbInit.checkLoginState();"></fb:login-button>
        </div>
        <div class="fnAdminGroupList" style="display: none;">
            <div>
                <div class="sectionTitle"><%=labels.admin_group_myGroups_title%></div>
            </div> 
            <div class="adminToolbar">
                <button class="btn btn-primary btn-default fnAdminAddGroup"><%=labels.admin_group_myGroups_button_add%></button>
            </div>
            <div class="fnGroupListView"></div>
        </div>
    </div>
    <!-- Add Group View Page -->
    <div class="container fnGroupAddView opacityHide"></div>
<script src="<%=config.CONTEXT_PATH%>/dist/teji.lunch.main.js"></script>
</body>
</html>