<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/js/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script data-main="/dist/teji.lunch.admin.js" src="/js/lib/requirejs/require.js"></script>
</head>
<body>
<%=header%>
    <!-- Main Page -->
    <div class="container fnMainContainer opacityHide">
        <div class="fnDefaultContent" style="display: none;">
            <div class="sectionTitle">Lunch Timer Admin</div>
            <ul>
                <li>ランチグループの管理ができます</li>
            </ul>
            <div>まずはFacebookログインをしてはじめましょう</div>
        </div>
        <div class="fnAdminGroupList" style="display: none;">
            <div>
                <h4>My Groups</h4>
            </div> 
            <div class="adminToolbar">
                <button class="btn btn-primary btn-default fnAdminAddGroup">Add Group</button>
            </div>
            <div class="fnGroupListView"></div>
        </div>
    </div>
    <!-- Add Group View Page -->
    <div class="container fnGroupAddView opacityHide"></div>
</body>
</html>