<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/js/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script data-main="/js//teji/lunch/gettingStarted.js" src="/js/lib/requirejs/require.js"></script>    
</head>
<%=header%>
<div class="container gettingStartedContainer">
    <div>
        <h2>Lunch Timer!</h2>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-6 pull-left">
            <h3>投票</h3>
            <p>投票についての説明の説明 投票についての説明の説明 投票についての説明の説明 投票についての説明の説明　投票についての説明の説明　投票についての説明の説明　投票についての説明の説明　投票についての説明の説明　投票についての説明の説明</p>
        </div>
        <div class="col-xs-6 pull-right">
            <div class="gettingStartedImage"></div>
        </div>
    </div>
    <hr class="clearfix">
    <div class="row">
        <div class="col-xs-6 pull-left">
            <div class="gettingStartedImage"></div>
        </div>
        <div class="col-xs-6 pull-right">
            <h3>具体例</h3>
            <p>投票についての説明の説明 投票についての説明の説明 投票についての説明の説明 投票についての説明の説明　投票についての説明の説明　投票についての説明の説明　投票についての説明の説明　投票についての説明の説明　投票についての説明の説明</p>
        </div>
    </div>
    <hr class="clearfix">    
    <div class="row">
        <div class="col-xs-6 pull-left">
            <h3>管理画面</h3>
            <p>投票についての説明の説明 投票についての説明の説明 投票についての説明の説明 投票についての説明の説明　投票についての説明の説明　投票についての説明の説明　投票についての説明の説明　投票についての説明の説明　投票についての説明の説明</p>
        </div>
        <div class="col-xs-6 pull-right">
            <div class="gettingStartedImage"></div>
        </div>
    </div>
    <hr class="clearfix">
</div>
<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <p>Designed and built with all the love in the world by <a href="http://twitter.com/tejitak" target="_blank">@tejitak</a>, <a href="http://twitter.com/makinoy" target="_blank">@makinoy</a>, <a href="http://twitter.com/slashilashi" target="_blank">@slashilashi</a>, <a href="http://twitter.com/skeryo" target="_blank">@ryoashi</a>.</p>
        <p><a href="https://github.com/tejitak/lunchapp" target="_blank">View on GitHub</a></p>
    </div>
</footer>
</body>
</html>
