<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="<%=config.CONTEXT_PATH%>/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="<%=config.CONTEXT_PATH%>/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="<%=config.CONTEXT_PATH%>/css/main.css">
</head>
<body id="app">
<%=templates.header%>
<div>
    <div>
        <div class="sectionTitle"><%=labels.gettingStarted_section_title%></div>
    </div>
    <hr style="margin-top: 0;">
    <div class="row">
        <div class="col-xs-6 pull-left">
            <h3><%=labels.gettingStarted_section_vote_title%></h3>
            <p><%=labels.gettingStarted_section_vote_description%></p>
        </div>
        <div class="col-xs-6 pull-right">
            <div class="gettingStartedImage screen1"></div>
        </div>
    </div>
    <hr class="clearfix">
    <div class="row">
        <div class="col-xs-6 pull-left">
            <div class="gettingStartedImage screen2"></div>
        </div>
        <div class="col-xs-6 pull-right">
            <h3><%=labels.gettingStarted_section_example_title%></h3>
            <p><%=labels.gettingStarted_section_example_description%></p>
        </div>
    </div>
    <hr class="clearfix">    
    <div class="row">
        <div class="col-xs-6 pull-left">
            <h3><%=labels.gettingStarted_section_admin_title%></h3>
            <p><%=labels.gettingStarted_section_admin_description%></p>
        </div>
        <div class="col-xs-6 pull-right">
            <div class="gettingStartedImage screen3"></div>
        </div>
    </div>
    <hr class="clearfix">
    <div class="row">
        <div class="col-xs-6 pull-left">
            <div class="gettingStartedImage screen4"></div>
        </div>
        <div class="col-xs-6 pull-right">
            <h3><%=labels.gettingStarted_section_evernote_title%></h3>
            <p><%=labels.gettingStarted_section_evernote_description%></p>
        </div>
    </div>
    <hr class="clearfix">
</div>
<%=templates.footer%>
<%=templates.templates%>
<%=templates.script%>
<script src="<%=config.CONTEXT_PATH%>/dist/gettingStarted.js"></script>
</body>
</html>
