@import url("common.css");
@import url("bootstrap-sortable.css");

/*** jquery autocomplete start ***/
.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
    z-index: 9999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter:mask();
    width: 3000px;
    height: 3000px;
}

.ac_results li {
        margin: 0px;
        padding: 2px 5px;
        cursor: pointer;
        display: block;
        width: 100%;
        font: menu;
        font-size: 12px;
        overflow: hidden;
}

.ac_loading {
        background : Window url('/zx0000/images/indicator.gif') right center no-repeat;
}

.ac_over {
        background-color: Highlight;
        color: HighlightText;
}

.fbFriendAutoCompleteItem img {
    margin-right: 4px;
}

.friendsAutoCompletedResults {
    margin: 4px 0;
}

.friendsAutoCompletedResults ul.multiColumn {
    margin: 2px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
}

.friendsAutoCompletedResults ul.multiColumn li.userPresentation {
    display: block;
}

.friendsAutoCompletedResults ul.multiColumn li.userPresentation .userContent {
    margin: 2px;
    font-size: 13px;
    background-color: #eee;
}

.friendsAutoCompletedResults ul.multiColumn li.userPresentation .userContent a {
    text-decoration: none;
    margin: 0 4px;
}
/*** jquery autocomplete end ***/

/*** admin common start ***/
.adminToolbar {
    margin: 6px 0;
}

.deleteIcon {
    cursor: pointer;
    margin: 0 4px;
}

.isEditShow, .isEdit .isEditHidden {
    display: none;
}

.isEditHidden, .isEdit .isEditShow {
    display: block;
}

.modal-footer .isEditShow, .isEdit .modal-footer .isEditHidden {
    display: none;
}

.modal-footer .isEditHidden, .isEdit .modal-footer .isEditShow {
    display: inline-block;
}
/*** admin common end ***/
