@import url("common.css");

.mainContent {
    position: relative;
}

.thumbnail {
    background-color: #fdfdfd;
    -webkit-box-shadow: 0 4px 6px -6px #777;
    -moz-box-shadow: 0 4px 6px -6px #777;
    box-shadow: 0 4px 6px -6px #777;
}

.thumbnail hr {
    margin-top: 12px;
    margin-bottom: 2px;
}

/*** flipsnap start ***/
.viewport {
    width: 290px;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}

.flipsnap {
    /* width: 960px; (220px(item width) * 3(item count) + 45px (padding left) + 50px) */
    padding-left: 35px; /*35px seems to be ideal for iPhone. Probably because viewport is 290px and one item is 220px (=290px with 35px padding x2)*/
}

.flipsnap:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.flipsnapItem {
    float: left;
    width: 200px;
    margin: 0 10px;
    text-align: center;
}
.flipsnapPrevArrow {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 120px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 65px 40px 65px 0;
    border-color: transparent #428BCA transparent transparent;
}

.flipsnapPrevArrow.disabled {
    border-color: transparent #cccccc transparent transparent;
    cursor: default;
}

.flipsnapNextArrow {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 140px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 65px 0 65px 40px;
    border-color: transparent transparent transparent #428BCA;
}

.flipsnapNextArrow.disabled{
    border-color: transparent transparent transparent #cccccc;
    cursor: default;
}
/*** flipsnap end ***/

/*** shop view items start ***/
.resultViewItemInfo {
    display: none;
}

.resultView .flipsnapItem {
    float: none;
    margin: 0 auto;
}

.resultView .resultViewItemInfo {
    display: block;
}

.resultView .shopViewItem .shopViewButtons {
    display: none;
}

.resultView .resultViewFilterSection {
    display: none;
}

.overflow {
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

/*** shop view items end ***/

/*** PC version start ***/
/* for smart phone */
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .viewport {
        margin: 0 -15px;
        width: auto;
    }
    .resultView .viewport {
        margin: 0 auto;
    }
}
/* for middle size screen */
@media (min-width: 768px) {
    .viewport {
        width: 600px;
    }
    .flipsnapPrevArrow {
        display: block;
    }
    .flipsnapNextArrow {
        display: block;
    }
}
/* for large size screen */
@media (min-width: 1024px) {
    .viewport {
        width: 820px;
    }
}
/*** PC version end ***/




/*** Getting started start ***/
.gettingStartedContainer {
}

.gettingStartedContainer .row p {
    color: #888;
}

.gettingStartedContainer .gettingStartedImage {
    width: 400px;
    height: 260px;
    background-color:
    orange; margin: 20px;
}


@media (max-width: 768px) {
    .gettingStartedContainer .row .col-xs-6 {
        width: 100%;
    }

    .gettingStartedContainer .gettingStartedImage {
        margin: 20px auto;
        width: 200px; height: 130px;
        background-color: orange; 
    }
}

/*** Getting started end ***/
