/*** base style start ***/
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.opacityHide {
    display: none;
    opacity: 0;
}
/*** base style end ***/

/*** bootstrap override start ***/
.bs-docs-section {
    text-align: center;
}

.bs-docs-footer .container {
    text-align: center;
}
/*** bootstrap override end ***/

/*** header start ***/
.loginUserImage {
    margin: 0 6px
}

.loginUserImage img {
    margin-top: -2px;
}
/*** header end ***/

/*** modules start ***/
.sectionTitle {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
}

.fnAddGroupModal .displayEditGroup {
    display: none;
}

.fnAddGroupModal.editGroupModal .displayEditGroup {
    display: inline-block;
}

.fnAddGroupModal.editGroupModal .displayAddGroup {
    display: none;
}
/*** modules end ***/

/*** flipsnap start ***/
.viewport {
    width: 320px;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}

.flipsnap {
    /* width: 960px; (220px(item width) * 3(item count) + 45px (padding left) + 50px) */
    padding-left: 45px;
}

.flipsnap:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.flipsnapItem {
    float: left;
    width: 200px;
    margin: 0 10px;
    text-align: center;
}
/*** flipsnap end ***/

/*** jquery autocomplete start ***/
.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
    z-index: 9999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter:mask();
    width: 3000px;
    height: 3000px;
}

.ac_results li {
        margin: 0px;
        padding: 2px 5px;
        cursor: pointer;
        display: block;
        width: 100%;
        font: menu;
        font-size: 12px;
        overflow: hidden;
}

.ac_loading {
        background : Window url('/zx0000/images/indicator.gif') right center no-repeat;
}

.ac_over {
        background-color: Highlight;
        color: HighlightText;
}

.fbFriendAutoCompleteItem img {
    margin-right: 4px;
}
/*** jquery autocomplete end ***/

/*** admin start ***/
.friendsAutoCompletedResults {
    margin: 4px 0;
}

.friendsAutoCompletedResults ul.multiColumn {
    margin: 2px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
}

.friendsAutoCompletedResults ul.multiColumn li.userPresentation {
    display: block;
}

.friendsAutoCompletedResults ul.multiColumn li.userPresentation .userContent {
    margin: 2px;
    font-size: 13px;
    background-color: #eee;
}

.friendsAutoCompletedResults ul.multiColumn li.userPresentation .userContent a {
    text-decoration: none;
    margin: 0 4px;
}

.deleteIcon {
    cursor: pointer;
    margin: 0 4px;
}
/*** admin end ***/