/*** base style start ***/
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
/*** base style end ***/

/*** bootstrap override start ***/
.bs-docs-section {
    text-align: center;
}

.bs-docs-footer .container {
    text-align: center;
}
/*** bootstrap override end ***/

/*** header start ***/
.loginUserImage {
    margin: 0 6px
}

.loginUserImage img {
    margin-top: -2px;
}
/*** header end ***/

/*** modules start ***/
.sectionTitle {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
}
/*** modules end ***/

/*** flipsnap start ***/
.viewport {
    width: 320px;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}

.flipsnap {
    /* width: 960px; (220px(item width) * 3(item count) + 45px (padding left) + 50px) */
    padding-left: 45px;
}

.flipsnap:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.flipsnapItem {
    float: left;
    width: 200px;
    margin: 0 10px;
    text-align: center;
}
/*** flipsnap end ***/

/*** admin start ***/
.friendsAutoCompletedResults {
    margin: 4px 0;
}

.friendsAutoCompletedResults ul.multiColumn, ul.multiColumn li {
    margin: 2px;
    padding: 0px;
}

.friendsAutoCompletedResults ul.multiColumn li.userPresentation {
    display: table-cell;
}

.friendsAutoCompletedResults ul.multiColumn li.userPresentation .userContent {
    margin: 2px;
    font-size: 12px;
    background-color: #eee;
}

.friendsAutoCompletedResults ul.multiColumn li.userPresentation .userContent a {
    text-decoration: none;
    margin-left: 4px;
}

.deleteIcon {
    cursor: pointer;
    margin: 0 4px;
}
/*** admin end ***/