<div class="thumbnail shopViewItem">
    <h4 class="overflow"><span class="fnBtnShopnameExpand"><%=item.name%></span></h4>
    <img src="<%=item.imageURL%>" class="img-rounded" alt="photo" style="width: 200px; height: 200px;">
    <hr>
    <div class="caption shopViewButtons">
        <p><a href="javascript:;" class="btn btn-primary btn-block btn-lg fnBtnVote" role="button"><%=labels.main_resultItem_vote%></a>
           <a href="javascript:;" class="btn btn-danger btn-block btn-lg fnBtnUndoVote hidden" role="button"><%=labels.main_resultItem_unvote%></a></p>
        <p><a href="javascript:;" class="btn btn-default btn-block btn-sm fnBtnInfo" role="button"><span class="glyphicon glyphicon-info-sign"></span> <%=labels.main_resultItem_shopInfo%></a></p> 
        <div><%=labels.main_resultItem_voter%>: 
        <% if(item.votedBy.length > 0) { %>
            <% _.each(item.votedBy, function(userId, key, arr){ %>
            <img class="img-rounded" width="20px" height="20px" src="http://graph.facebook.com/<%=userId%>/picture?type=square">
            <% }); %>
        <% } else { %>
            -
        <% }%>
        </div>
    </div>
    <div class="caption resultViewItemInfo">
        <p><a href="javascript:;" class="btn btn-default btn-block btn-sm fnBtnInfo" role="button"><span class="glyphicon glyphicon-info-sign"></span> <%=labels.main_resultItem_shopInfo%></a></p> 
        <div><%=labels.main_resultItem_visitedCount%>: <%=item.visitedCount%></div>
        <div><%=labels.main_resultItem_votedCount%>: <%=item.votedBy.length%></div>
        <div><%=labels.main_resultItem_voter%>: 
        <% if(item.votedBy.length > 0) { %>
            <% _.each(item.votedBy, function(userId, key, arr){ %>
            <img class="img-rounded" width="20px" height="20px" src="http://graph.facebook.com/<%=userId%>/picture?type=square">
            <% }); %>
        <% } else { %>
            -
        <% }%>
        </div>
    </div>
</div>