<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <div class="snsBtnWrapper">
            <div>
                <div class="fb-like" data-href="http://www.tejitak.com/lunch/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            </div>
            <div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.tejitak.com/lunch/" data-via="tejitak" data-lang="en">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
        <p>Designed and built with all the love in the world by <a href="http://twitter.com/tejitak" target="_blank">@tejitak</a>, <a href="http://twitter.com/makinoy" target="_blank">@makinoy</a>, <a href="http://twitter.com/slashilashi" target="_blank">@slashilashi</a>, <a href="http://twitter.com/skeryo" target="_blank">@ryoashi</a>.</p>
        <p><a href="https://github.com/tejitak/lunchapp" target="_blank">View on GitHub</a></p>
    </div>
</footer>