<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <p>Designed and built with all the love in the world by <a href="http://twitter.com/tejitak" target="_blank">@tejitak</a>, <a href="http://twitter.com/makinoy" target="_blank">@makinoy</a>, <a href="http://twitter.com/slashilashi" target="_blank">@slashilashi</a>, <a href="http://twitter.com/skeryo" target="_blank">@ryoashi</a>.</p>
        <p><a href="https://github.com/tejitak/lunchapp" target="_blank">View on GitHub</a></p>
    </div>
</footer>