<header class="" role="banner">
    <div class="navbar-header">
        <a href="<%=config.CONTEXT_PATH%>/" class="navbar-brand">
            <img class="headerLogo" src="<%=config.CONTEXT_PATH%>/img/logo/header_logo_64.png" width="32" height="32">
            <span class="headerProductName"><%=labels.product_name%></span>
        </a>
    </div>
    <nav class="" role="navigation">
        <ul class="">
            <li>
                <a href="<%=config.CONTEXT_PATH%>/getting-started"><%=labels.menu_gettingStarted%></a>
            </li>
            <li>
                <a href="javascript:;" onclick="location.href='<%=config.CONTEXT_PATH%>/groups'"><%=labels.menu_admin_group%></a>
            </li>
        </ul>
        <ul>
            <lunch-login></lunch-login>
        </ul>
    </nav>
</header>