<div class="addGroupModal">
    <div>
        <div class="sectionTitle isEditHidden"><%=labels.admin_group_add_title%></div>
        <div class="sectionTitle isEditShow"><%=labels.admin_group_edit_title%></div>
    </div>
    <div>
        <div class="form-group">
            <label class="control-label" for="groupNameInput"><%=labels.admin_group_add_name%></label>
            <input type="text" class="form-control" id="groupNameInput" placeholder="<%=labels.admin_group_add_name%>">
        </div>
        <div class="form-group">
            <label class="control-label" for="groupLunchTimeInput"><%=labels.admin_group_add_lunchTime%></label>
            <div class="input-group">
                <input id="groupLunchTimeInput" class="form-control" type="time">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="friendAutoCompleteInput"><%=labels.admin_group_add_members%></label>
            <div class="input-group">
                <input type="text" class="form-control" id="friendAutoCompleteInput" placeholder="<%=labels.admin_group_add_placeholder_members%>">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-primary fnAddFriendAutoCompleteBtn" type="button" disabled="disabled"><%=labels.common_btn_add%></button>
                </span>
            </div>
            <div class="friendsAutoCompletedResults">
                <ul class="multiColumn"></ul>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label"><%=labels.admin_group_add_shops%></label>
            <div class="input-group adminToolbar">
                <button type="button" class="btn btn-primary addShopModalBtn"><%=labels.admin_group_add_btn_addShop%></button>
            </div>
            <div class="fnAdminShopListTable"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default fnCancelSaveGroupBtn"><%=labels.common_btn_cancel%></button>
        <button type="button" class="btn btn-primary displayAddGroup fnSaveAddGroupBtn isEditHidden"><%=labels.admin_group_add_btn_addGroup%></button>
        <button type="button" class="btn btn-primary fnSaveEditGroupBtn isEditShow"><%=labels.admin_group_add_btn_updateGroup%></button>
    </div>
</div>

<div class="modal fade addShopModal" id="addShopModal" tabindex="-1" role="dialog" aria-labelledby="addShopModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title isEditHidden"><%=labels.admin_group_shop_title_add%></h4>
                <h4 class="modal-title isEditShow"><%=labels.admin_group_shop_title_edit%></h4>
            </div>
            <div class="modal-body">
                <div class="isEditHidden">
                    <div class="input-group">
                        <input type="text" class="form-control fnGetShopURLInput" placeholder="<%=labels.admin_group_shop_placeholder_getShopInfo%>">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-primary fnGetShopInfoBtn" type="button"><%=labels.admin_group_shop_btn_getShopInfo%></button>
                        </span>
                    </div>
                    <div style="">
                        <a href="http://www.yelp.co.jp/" target="_blank">
                            <img src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/3049d7633b6e/developers/reviewsFromYelpRED.gif" width="155" height="20" border="0" alt="Yelp">
                        </a>
                        <a href="http://mobile.gnavi.co.jp/" target="_blank">
                            <img src="http://apicache.gnavi.co.jp/image/rest/b/api_155_20.gif" width="155" height="20" border="0" alt="グルメ情報検索サイト　ぐるなび">
                        </a>
                    </div>
                    <hr>
                </div>
                <div>
                    <div class="form-group" style="display: none;">
                        <label class="control-label" for="addShopInput_id"><%=labels.admin_group_shop_input_id%></label>
                        <input type="text" class="form-control" id="addShopInput_id">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addShopInput_name"><%=labels.admin_group_shop_input_name%></label>
                        <input type="text" class="form-control" id="addShopInput_name">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addShopInput_category"><%=labels.admin_group_shop_input_category%></label>
                        <input type="text" class="form-control" id="addShopInput_category">
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="control-label" for="addShopInput_address"><%=labels.admin_group_shop_input_address%></label>
                        <input type="text" class="form-control" id="addShopInput_address">
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="control-label" for="addShopInput_tel"><%=labels.admin_group_shop_input_tel%></label>
                        <input type="text" class="form-control" id="addShopInput_tel">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addShopInput_imageURL"><%=labels.admin_group_shop_input_imageURL%></label>
                        <input type="text" class="form-control" id="addShopInput_imageURL">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addShopInput_url"><%=labels.admin_group_shop_input_url%></label>
                        <input type="text" class="form-control" id="addShopInput_url">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addShopInput_url_mobile"><%=labels.admin_group_shop_input_url_mobile%></label>
                        <input type="text" class="form-control" id="addShopInput_url_mobile">
                    </div>
                    <div class="isEditShow">
                        <hr>
                        <div class="form-group">
                            <label class="control-label" for="addShopInput_visitedCount"><%=labels.admin_group_shop_input_visitedCount%></label>
                            <input type="text" class="form-control" id="addShopInput_visitedCount">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><%=labels.common_btn_cancel%></button>
                <button type="button" class="btn btn-primary fnModalAddShopBtn isEditHidden"><%=labels.admin_group_shop_input_btn_add%></button>
                <button type="button" class="btn btn-primary fnModalEditShopBtn isEditShow"><%=labels.admin_group_shop_input_btn_update%></button>
            </div>
        </div>
    </div>
</div>