<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width: 30%;"><%=labels.admin_group_myGroups_name%></th>
            <th style="width: 50%;"><%=labels.admin_group_myGroups_members%></th>
            <th style="width: 20%;"></th>
        </tr>
    </thead>
    <tbody class="fnAdminGroupListTable">
        <% _.each(groups, function(group, key, arr) { %>
            <tr>
                <td><span><%-group.name%></span></td>
                <td>
                    <% _.each(group.members, function(member, key, arr){ %>
                    <img class="img-rounded" width="20px" height="20px" src="http://graph.facebook.com/<%=member.id%>/picture?type=square" title="<%-member.name%>" alt="<%-member.name%>">
                    <% }); %>
                </td>
                <td>
                    <a class="fnGroupListViewEditBtn" data-group-id="<%=group._id%>" href="javascript:;"><%=labels.common_btn_edit%></a>
                    <a class="fnGroupListViewDeleteBtn" data-group-id="<%=group._id%>" href="javascript:;"><%=labels.common_btn_delete%></a>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>