<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Restaurant Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% _.each(shops, function(shop, key, arr){ %>
        <tr>
            <td><span><%=(key + 1)%></span></td>
            <td><span><%=shop.name%></span></td>
            <td>
                <a class="fnShopListTableEditBtn" data-shop-id="<%=shop.id%>" href="javascript:;">Edit</a>
                <a class="fnShopListTableDeleteBtn" data-shop-id="<%=shop.id%>" href="javascript:;">Delete</a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>